body {
  background-color: #22c55e;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameplay-component {
  display: flex;
  flex-direction: column;
}

.scores {
  display: flex;
  color: #fde047;
  gap: 15px;
  margin: 20px;
}

.set-playing-button {
  background-color: #22d3ee;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  color: gray;
  height: 50px;
  margin: 20px;
}

.cards-container {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cards {
  height: 30%;
  width: 30%;
  background-color: hotpink;
}

.cards:hover {
  border-radius: 5px;
  border-color: white;
  border-style: solid;
}

.set-cards-instructions {
  color: #c026d3;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-over {
  font-size: 30px;
  color: red;
  font-weight: bold;
}

.game-over-scores {
  display: flex;
  gap: 10px;
}

.input-component {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-label {
  font-size: 20px;
  font-weight: bold;
}

.input-entry {
  font-size: 20px;
  margin: 10px;
  text-align: center;
  color: hotpink;
  font-weight: bold;
}

.select-tiles-button {
  background-color: #22d3ee;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  color: gray;
  height: 50px;
}
